# Dependencies
node_modules/
vendor/

# Environment
.env
.env.backup

# IDE
.idea/
.vscode/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Laravel
/storage/*.key
/public/hot
/public/storage
/bootstrap/cache

# Build
/public/build
/public/mix-manifest.json
